node_modules

/.cache
/build
.npmrc
.specstory
# SpecStory explanation file
.specstory/.what-is-this.md
/public/manifest.json

.yarn/install-state.gz


# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
